:root {
  font-family: 'Roboto', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-image: url('./assets/bg-weather.png');
  background-size: cover; /* Optional: to cover the entire viewport */
  background-position: center; /* Optional: to center the image */
  background-repeat: no-repeat; /* Optional: to prevent repeating */
  color: rgba(255, 255, 255, 0.87);
}

body {
  margin: 0;
  display: flex;
  justify-content: flex-start; /* Align items to the left */
  align-items: flex-end; /* Align items to the bottom */
  height: 100vh; /* Full viewport height for demonstration */
}

.block__weather__current {
  margin: 10px; /* Optional: adds some margin from the edges */
  padding: 10px; /* Optional: for styling */
}